* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Advent Pro', sans-serif;
}

.cabecalho {
  height: 100%;
  margin: 0 80px;
  padding: 0 60px;
  border: 1px solid rgb(63, 35, 5);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, .6);
  background: rgb(180, 132, 108);
}

.image {
  width: 260px;
  float: right;
  margin: 20px 60px;
  border-radius: 6px;
  transition: all 2ms ease-out;
}

.image:hover {
  filter: hue-rotate(4deg) contrast(100%) saturate(100%);
  transform: scale(1.1) rotate(-2deg);
}

h1 {
  font-size: 44px;
  font-weight: 800;
  padding: 80px 0 40px 10px;
  float: left;
}

header p {
  font-size: 24px;
  font-weight: 600;
  margin: 60px 0px;
  text-align: justify;
  letter-spacing: 1px;
}

nav.menu {
  display: block;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, .5);
}

nav.menu ul {
  list-style: none;
  text-transform: uppercase;
  position: absolute;
  top: -20px;
  left: 460px;
  margin: 22px;
  text-align: justify;
}

nav.menu li {
  display: inline-block;
  padding: 14px 22px;
  margin: 8px;
  border-radius: 6px;
  background-color: rgb(252, 222, 192);
}

nav.menu li:hover {
  background-color: rgb(229, 178, 153);
}

nav.menu a {
  text-decoration: none;
  margin-top: 60px;
  color: rgb(125, 90, 80);
}


nav.menu a:hover {
  color: #ffffff;
}

ul {
  list-style: none;
}

#container {
  padding: 20px 60px;
  margin: 0px 80px;
  width: 90.6%;
  height: 800px;
  border: 1px solid rgb(63, 35, 5);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, .6);
  background: rgb(125, 90, 80);
}

#container h1 {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  float: inline-start;
}

.form-fale {
  display: block;
  width: 800px;
  float: left;
  margin-top: 60px;
  padding: 20px;
  border-radius: 6px;
}

.form-fale input {
  width: 740px;
  height: 40px;
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: justify;
  padding: 12px;
  background: rgb(252, 222, 192);
}

label {
  font-size: 22px;
  font-weight: 600;
  margin: 6px;
  padding-bottom: 6px;

}

.form-fale textarea {
  margin-bottom: 20px;
  padding: 38px;
  border-radius: 8px;
  width: 98%;
  background: rgb(252, 222, 192);
}

.form-fale input[type="submit"] {
  width: 740px;
  height: 60px;
  margin-top: 24px;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
}

#rodape {
  font-size: 20px;
  font-weight: 700;
  height: 220px;
  margin: 0px 80px;
  padding: 20px 60px;
  text-align: center;
  border: 1px solid rgb(63, 35, 5);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, .6);
  background: rgb(180, 132, 108);
}

ul {
  list-style: none;
}

#rodape p {
  margin-top: 40px;

}

#rodape h3 {
  margin-top: 10px;
}

.redes-sociais {
  margin: 24px auto;
  width: 160px;
}

.redes-sociais li {
  float: left;
  margin-right: 10px;
}