* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Para distanciar o conteudo das laterais aplicar um padding no container ao invés dos filhos */

/* Usar o padding ao invés de margin */
body {
    background: hsl(332, 65%, 56%);
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 80px 80px;
}

/* Remover a prop display ou width */
section {
    width: 100%; 
    min-height: 300%;
    padding: 60px 60px;
    border: 2px solid white;
    border-radius: 22px;
}


.foto-eu {
    display: block;
    margin: auto;
    width: 200px;
    
}

h1 {
    font-size: 60px;
    font-style: italic;
    text-align: center;
    margin-top: 60px;
}

main, p {
    text-align: justify;
    letter-spacing: 1px;
     margin: 60px 60px;
   

}



a {
    display: flex;
    font-size: 16px;
    font-weight: 600;
    margin: 60px;
    padding: 20px;
    gap: 20px;
    text-decoration: none;
    border-radius: 8px;
    width: 400px;
    border: 1px solid white;
    background: white;
    color: hsl(332, 65%, 56%);

}

a:hover {
    background: transparent;
    color: white;
    border: 1px solid white;
}


nav img {
    width: 30px;
    height: auto;
}

h2 {
    padding: 20px 60px 0px;
    font-style: italic;
    text-decoration: none;
    margin-top: 60px;
}


.frases p {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    font-style: italic;
    font-size: 14px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    color: hsl(332, 65%, 56%);
}


.frases p:hover {
    font-size: 40px;
}


footer p {
    font-size: 18px;
    font-style: italic;
    text-align: end;
}

footer img {
    width: 20px;
    text-align: center;

}