* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


table {
    border-collapse: collapse;
    min-width: 40%;
  
}

table,
th,
td {
    font-size: 16px;
    font-family: Arial;
    margin: 30px;
    padding: 60px;
    border: 1px solid black;
    color: #555;
}

th,
td {
    padding: 6px;
    width: 10px;
    text-align: center;
}

th {
    background-color: #ccc
}